{% extends 'AppBundle::base_pages.html.twig' %}

{% block content %}
  <div class="container">
    <div class="col-xs-8 col-xs-offset-2" style="margin-top: 100px;margin-bottom: 200px;">
      <div class="main-title"><h1><span>Erreur</span></h1></div>

      <p>
         Une erreur s'est produite, nous avons été avertis et travaillons au plus vite au rétablissement de cette page. Merci de votre patience.
      </p>
      <a href="{{ path('homepage') }}" class="btn btn-default">Revenir à la page d'accueil</a>
    </div>
  </div>
{% endblock %}
