{% extends 'AppBundle::base.html.twig' %}

{% block body %}

  <section class="carousel slide" id="ZCarousel">
    <div class="scroll-down"><a href="#about"><span class="glyphicon glyphicon-download"></span></a></div>
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li class="active" data-slide-to="0" data-target="#ZCarousel"></li>
      <li data-slide-to="1" data-target="#ZCarousel"></li>
      <li data-slide-to="2" data-target="#ZCarousel"></li>
    </ol>
    <!--Wrapper for Slides-->
    <div class="carousel-inner">
      <div class="item active">
        <!--Set the first background image using inline CSS below.-->
        <div class="fill" style="background-image:url('/images/frontend/background/background1.jpg');"></div>
        <div class="carousel-caption"><img data-fallback="logo-construct-tim-namur-big.jpg" alt="Entrepreneur général en bâtiment | Construct-Tim" src="/images/brand/logo-construct-tim-namur-big.svg" /></div>
      </div>
      <div class="item">
        <!--Set the second background image using inline CSS below.-->
        <div class="fill" style="background-image:url('/images/frontend/background/background2.jpg');"></div>
        <div class="carousel-caption"><img data-fallback="logo-construct-tim-namur-big.jpg" alt="Entrepreneur général en bâtiment | Construct-Tim" src="/images/brand/logo-construct-tim-namur-big.svg" /></div>
      </div>
      <div class="item">
        <!--Set the third background image using inline CSS below.-->
        <div class="fill" style="background-image:url('/images/frontend/background/background3.jpg');"></div>
        <div class="carousel-caption"><img data-fallback="logo-construct-tim-namur-big.jpg" alt="Entrepreneur général en bâtiment | Construct-Tim" src="/images/brand/logo-construct-tim-namur-big.svg" /></div>
      </div>
    </div>
    <!--Controls--><a class="left carousel-control" data-slide="prev" href="#ZCarousel"><span class="icon-prev"></span></a><a class="right carousel-control" data-slide="next" href="#ZCarousel"><span class="icon-next"></span></a>
  </section>

  {% block header %}
    {{ include('AppBundle::partials/_header.html.twig') }}
  {% endblock %}

  {% block content %}{% endblock %}

  {% block footer %}
    {{ include('AppBundle::partials/_footer.html.twig') }}
  {% endblock %}
{% endblock %}
