{% extends 'AppBundle::base_homepage.html.twig' %}

{% block content %}
  <a name="about"></a>
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="row">
            <div class="col-xs-12">
              <div class="main-title">
                <h1><span><strong>A propos de Construct-Tim, entreprise générale en bâtiment sur Namur</strong></span></h1>
              </div>
              <div class="txt">
                <p>La SPRL Construct-Tim est une entreprise générale en bâtiment qui propose des <strong>solutions pour la construction et la rénovation des bâtiments.</strong>
                </p>
                <p>Nous sommes basés à Andenne et nous déplaçons dans les provinces de <strong>Namur</strong> et du <strong>Brabant wallon</strong>.</p>
              </div>
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 service">
              <a href="/projets/entreprise-construction-maison-batiment-namur-brabant-wallon"><img alt="Entrepreneur en construction à Namur et Brabant wallon" class="img-responsive" src="/images/frontend/static/about/a_propos_gros_oeuvre.jpg" />
                <h2>Nouvelles constructions</h2>
                <p class="services-description">Entrepreneur en construction à Namur et Brabant wallon
                </p>
              </a>
            </div>
            <div class="col-sm-6 service">
              <a href="/projets/entreprise-extension-annexe-batiment-namur-brabant-wallon"><img alt="Extensions et annexes de bâtiment en Brabant et à Namur" class="img-responsive" src="/images/frontend/static/about/a_propos_transformation.jpg" />
                <h2>Extensions de bâtiment</h2>
                <p class="services-description">Construct-Tim vous conseille pour apporter les meilleures solutions techniques, thermiques et budgétaires à votre projet d’extension.
                </p>
              </a>
            </div>
            <div class="col-sm-6 service">
              <a href="/projets/entreprise-renovation-maison-batiment-coaching-namur-brabant-wallon"><img alt="Rénovation de maisons et bâtiments à Namur et en Brabant wallon" class="img-responsive" src="/images/frontend/static/about/a_propos_renovation.jpg" />
                <h2>Rénovation</h2>
                <p class="services-description">Construct Tim prend en charge la totalité de votre projet de rénovation en Wallonie, dans tous ses aspects. Demandez un devis !
                </p>
              </a>
            </div>
            <div class="col-sm-6 service">
              <a href="/projets/entreprise-generale-batiment-egouttage-assainissement-namur-brabant-wallon"><img alt="Société de travaux extérieurs et intérieurs en Belgique" class="img-responsive" src="/images/frontend/static/about/a_propos_divers.jpg" />
                <h2>Divers</h2>
                <p class="services-description">Vous avez des travaux en tous genres à effectuer dans votre bâtiment. Faites confiance à Construct Tim.
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="infos-and-contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <div class="need-info">
            <p>Question ? Demande de devis ? Contactez-nous !</p>
            <div class="tel"><span class="glyphicon glyphicon-phone"></span><a href="tel:+32(0)475921448"> +32 (0)475/92.14.48</a>
            </div><a class="btn" href="/contact">Nous contacter</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <a name="valeurs"></a>
  <section class="valeurs">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="row">
            <div class="col-xs-12">
              <div class="main-title">Valeurs</div>
              <div class="txt">
                <h2>Un entrepreneur en bâtiment s’investit pour votre bien immobilier</h2>
                <p>Pour tout projet concernant votre habitation, annexe, atelier, entreprise, immeuble ou bâtiment public, faites appel à un interlocuteur unique et privilégié. Construct-Tim intervient en tant que <strong>professionnel réactif, dynamique et polyvalent.</strong>
                </p>
                <p>Outre la <strong>réalisation des fondations et du gros œuvre</strong>, nous coordonnons à votre demande l’ensemble des étapes qui vont jalonner la <strong>réalisation de votre chantier</strong>. Nous mettons tout en œuvre pour nos clients, afin de leur fournir des <strong>prestataires de qualité</strong> : Elaboration des plans par un architecte, terrassement, toitures, électricité, sanitaire, peinture, carrelages, plafonnage et chauffage.</p>
                <h2>Les valeurs de notre entreprise de construction et rénovation</h2>
                <p>Nous sommes attachés à conserver la confiance de nos clients, en honorant quelques <strong>garanties</strong> qui nous paraissent essentielles:</p>
                <ul>
                  <li>La <strong>qualité du travail fourni</strong>, tant matériel que de coordination ;</li>
                  <li>Le <strong>respect du planning</strong> et de l’<strong>engagement</strong> ;</li>
                  <li>L’intervention de <strong>techniciens qualifiés</strong> ;</li>
                  <li>L’apport de <strong>matériaux de qualité</strong>, fabriqués par des marques reconnues ;</li>
                  <li>Le suivi du chantier par le patron, pour un <strong>contact personnalisé</strong> ;</li>
                  <li>La réactivité et l’ouverture aux <strong>nouvelles techniques de construction</strong>, ceci afin de <strong>trouver le meilleur rapport qualité/prix</strong> ;</li>
                  <li>Le <strong>suivi administratif</strong> ;</li>
                  <li>Le <strong>devis gratuit</strong>.</li>
                </ul>
                <h2>Question ? Demande de devis ? Contactez-nous !</h2>
                <p><a href="/contact">Pour toute question ou demande de devis de construction ou rénovation, contactez-nous sans engagement.</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="testimonial">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="carousel slide" data-interval="3000" data-ride="carousel" id="fade-quote-carousel">
            <!--Carousel indicators-->
            <ol class="carousel-indicators">
              <li class="active" data-slide-to="0" data-target="#fade-quote-carousel"></li>
              <li data-slide-to="1" data-target="#fade-quote-carousel"></li>
              <li data-slide-to="2" data-target="#fade-quote-carousel"></li>
            </ol>
            <!--Carousel items-->
            <div class="carousel-inner">
              <div class="active item">
                <div class="author"><a href="/entreprise-generale-batiment-egouttage-assainissement-namur-brabant-wallon/projets/reparation-suite-a-un-degat-incendie">Réparation suite à un dégât incendie</a>
                </div>
                <blockquote>
                  <p>"Mon habitation en fin de construction a malheureusement subi un incendie. J'ai été dans l'obligation de trouver une entreprise qui sache rapidement s'occuper du démontage des murs endommagés et de la reconstruction de ceux-ci. Bien que n'étant pas basée à proximité, l'entreprise Construc-Tim a répondu directement présent pour s'occuper des travaux !</p>
                  <p>L'équipe sympathique a réalisé l'entièreté de l'ouvrage rapidement, proprement et à un prix tout à fait raisonnable. Encore une fois je peux remercier le patron Timothée Wery pour le sérieux de son entreprise Guillaume Rochefort"</p>
                </blockquote>
              </div>
              <div class="item">
                <div class="author"><a href="/entreprise-generale-batiment-egouttage-assainissement-namur-brabant-wallon/projets/residence-tilleul-namur">Résidence tilleul Namur</a>
                </div>
                <blockquote>
                  <p>"Construct Tim, une entreprise que nous recommandons pour la compétence de son personnel, ses prix concurrentiels, les conseils avisés du responsable Timothée Wéry Delpire M.""</p>
                </blockquote>
              </div>
              <div class="item">
                <div class="author"><a href="/entreprise-construction-maison-batiment-namur-brabant-wallon/projets/nouvelles-constructions-a-meux">Nouvelles constructions à Meux</a>
                </div>
                <blockquote>
                  <p>"Avec construct-Tim, le gros œuvre s'est passé sans aucun soucis. Si c'était à refaire, nous signons tout de suite. Professionnalisme, timing respecté et sympathie.. Caroline et François de Meux"</p>
                </blockquote>
              </div>
              <!--.item-->
              <!--  .profile-circle-->
              <!--    img.img-responsive src="/images/frontend/static/testimonial/testimonial-1.jpg" /-->
              <!--  .author-->
              <!--    | Romain & Stéphanie-->
              <!--  blockquote-->
              <!--    p Notre satisfaction envers Construct-Tim après réalisation de notre maison est de 100%. Nulla vitae elit libero, a /! pharetra augue. Curabitur blandit tempus porttitor.-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <a name="reference"></a>
  <section class="reference">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="main-title">
            <h2 class="title"><span><strong>Références</strong></span></h2>
          </div>
          <section class="ff-container">
            <div class="filters">
              <input checked="checked" class="ff-selector-type-all" id="select-type-all" name="radio-set-1" type="radio" />
              <label class="ff-label-type-all" for="select-type-all"> Toutes</label>
              <input class="ff-selector-type-1" id="select-type-1" name="radio-set-1" type="radio" />
              <label class="ff-label-type-1" for="select-type-1"> Nouvelles constructions</label>
              <input class="ff-selector-type-2" id="select-type-2" name="radio-set-1" type="radio" />
              <label class="ff-label-type-2" for="select-type-2"> Extensions de bâtiment</label>
              <input class="ff-selector-type-3" id="select-type-3" name="radio-set-1" type="radio" />
              <label class="ff-label-type-3" for="select-type-3"> Rénovation</label>
              <input class="ff-selector-type-4" id="select-type-4" name="radio-set-1" type="radio" />
              <label class="ff-label-type-4" for="select-type-4"> Divers</label>
              <ul class="ff-items">
                <li class="ff-item-type-2">
                  <a href="/entreprise-extension-annexe-batiment-namur-brabant-wallon/projets/transformation-annexe-en-bois">
                    <div class="title">
                      <p class="place">Eghezée</p>
                      <p class="rtitle">Extension et transformation d&#39;une habitation</p>
                      <p><span class="btn">Voir +</span>
                      </p>
                    </div><img alt="Extension Mehaigne Après" class="img-responsive" src="http://construct-tim.s3.eu-central-1.amazonaws.com/project_photos/1/medium/IMG_2926.jpg?1436721721" />
                  </a>
                </li>
                <li class="ff-item-type-4">
                  <a href="/entreprise-generale-batiment-egouttage-assainissement-namur-brabant-wallon/projets/residence-tilleul-namur">
                    <div class="title">
                      <p class="place">Namur</p>
                      <p class="rtitle">Résidence tilleul Namur</p>
                      <p><span class="btn">Voir +</span>
                      </p>
                    </div><img alt="Résidence tilleul Namur" class="img-responsive" src="http://construct-tim.s3.eu-central-1.amazonaws.com/project_photos/11/medium/P1060352.JPG?1436789616" />
                  </a>
                </li>
                <li class="ff-item-type-4">
                  <a href="/entreprise-generale-batiment-egouttage-assainissement-namur-brabant-wallon/projets/reparation-suite-a-un-degat-incendie">
                    <div class="title">
                      <p class="rtitle">Réparation suite à un dégât incendie</p>
                      <p><span class="btn">Voir +</span>
                      </p>
                    </div><img alt="Réparation suite à un dégât incendie - Toiture" class="img-responsive" src="http://construct-tim.s3.eu-central-1.amazonaws.com/project_photos/7/medium/20130919_170557.jpg?1436788352" />
                  </a>
                </li>
                <li class="ff-item-type-4">
                  <a href="/entreprise-generale-batiment-egouttage-assainissement-namur-brabant-wallon/projets/assainissement-meeffe">
                    <div class="title">
                      <p class="place">Meeffe</p>
                      <p class="rtitle">Assainissement (Meeffe)</p>
                      <p><span class="btn">Voir +</span>
                      </p>
                    </div><img alt="Assainissement Meeffe" class="img-responsive" src="http://construct-tim.s3.eu-central-1.amazonaws.com/project_photos/14/medium/DSC_0051.JPG?1436805634" />
                  </a>
                </li>
                <li class="ff-item-type-1">
                  <a href="/entreprise-construction-maison-batiment-namur-brabant-wallon/projets/nouvelles-constructions-a-meux">
                    <div class="title">
                      <p class="place">Meux</p>
                      <p class="rtitle">Nouvelles constructions à Meux</p>
                      <p><span class="btn">Voir +</span>
                      </p>
                    </div><img alt="nouvelles constructions Meux" class="img-responsive" src="http://construct-tim.s3.eu-central-1.amazonaws.com/project_photos/6/medium/20131015_164019.jpg?1436788179" />
                  </a>
                </li>
                <li class="ff-item-type-3">
                  <a href="/entreprise-renovation-maison-batiment-coaching-namur-brabant-wallon/projets/transformation-meffe">
                    <div class="title">
                      <p class="place">Meffe</p>
                      <p class="rtitle">Transformation (Meffe)</p>
                      <p><span class="btn">Voir +</span>
                      </p>
                    </div><img alt="Transformation (Meffe) - après" class="img-responsive" src="http://construct-tim.s3.eu-central-1.amazonaws.com/project_photos/17/medium/DSC_1097_%28Copier%29.jpg?1441742932" />
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <section class="blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="content posts">
            <article>
              <div class="row">
                <div class="col-lg-3"><img alt="Test" itemprop="thumbnail" src="/images/thumb_list/missing.png" />
                </div>
                <div class="col-lg-9">
                  <h3><a href="/blog/testtest" title="Test">Test</a></h3>
                  <p>Vestibulum vehicula efficitur pharetra. Aliquam auctor imperdiet tellus, eu semper tellus rutrum nec. Suspendisse potenti. Phasellus pulvinar, lorem vel pharetra gravida, eros mi pellentesque nibh, nec ornare nunc lacus ut ipsum. Phasellus non mauris non ante iaculis dapibus. Sed fringilla eros vel turpis scelerisque, a elementum libero lacinia. Pellentesque nibh risus, semper non laoreet ut, fermentum in purus. Aliquam erat volutpat.</p>
                  <div class="cc_read_more"><a class="btn btn-warning" href="/blog/testtest">Lire la suite</a>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <!--Map-->
  <section class="map">
    <div id="map-canvas"></div>
  </section>
  <!--/Map-->
  <!--Footer-->
{% endblock %}
