<a name="about"></a>
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="row">
          <div class="col-xs-12">
            <div class="main-title">
              <h1><span><strong>A propos de Construct-Tim, entreprise générale en bâtiment sur Namur</strong></span>
              </h1>
            </div>
            <div class="txt">
              <p>La SPRL Construct-Tim est une entreprise générale en bâtiment qui propose des <strong>solutions pour la
                  construction et la rénovation des bâtiments.</strong>
              </p>
              <p>Nous sommes basés à Andenne et nous déplaçons dans les provinces de <strong>Namur</strong> et du
                <strong>Brabant wallon</strong>.</p>
            </div>
            <hr/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 service">
            <a href="{{ path('project_type_show', {'slug': 'entreprise-construction-maison-batiment-namur-brabant-wallon'}) }}"><img alt="Entrepreneur en construction à Namur et Brabant wallon" class="img-responsive" src="/images/frontend/static/about/a_propos_gros_oeuvre.jpg"/>
              <h2>Nouvelles constructions</h2>
              <p class="services-description">Entrepreneur en construction à Namur et Brabant wallon
              </p>
            </a>
          </div>
          <div class="col-sm-6 service">
            <a href="/projets/entreprise-extension-annexe-batiment-namur-brabant-wallon"><img alt="Extensions et annexes de bâtiment en Brabant et à Namur" class="img-responsive" src="/images/frontend/static/about/a_propos_transformation.jpg"/>
              <h2>Extensions de bâtiment</h2>
              <p class="services-description">Construct-Tim vous conseille pour apporter les meilleures solutions
                techniques, thermiques et budgétaires à votre projet d’extension.
              </p>
            </a>
          </div>
          <div class="col-sm-6 service">
            <a href="/projets/entreprise-renovation-maison-batiment-coaching-namur-brabant-wallon"><img alt="Rénovation de maisons et bâtiments à Namur et en Brabant wallon" class="img-responsive" src="/images/frontend/static/about/a_propos_renovation.jpg"/>
              <h2>Rénovation</h2>
              <p class="services-description">Construct Tim prend en charge la totalité de votre projet de rénovation en
                Wallonie, dans tous ses aspects. Demandez un devis !
              </p>
            </a>
          </div>
          <div class="col-sm-6 service">
            <a href="/projets/entreprise-generale-batiment-egouttage-assainissement-namur-brabant-wallon"><img alt="Société de travaux extérieurs et intérieurs en Belgique" class="img-responsive" src="/images/frontend/static/about/a_propos_divers.jpg"/>
              <h2>Divers</h2>
              <p class="services-description">Vous avez des travaux en tous genres à effectuer dans votre bâtiment.
                Faites confiance à Construct Tim.
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
