<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="carousel slide" data-interval="3000" data-ride="carousel" id="fade-quote-carousel">
          <!--Carousel indicators-->
          <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#fade-quote-carousel"></li>
            <li data-slide-to="1" data-target="#fade-quote-carousel"></li>
            <li data-slide-to="2" data-target="#fade-quote-carousel"></li>
          </ol>
          <!--Carousel items-->
          <div class="carousel-inner">
            <div class="active item">
              <div class="author"><a href="/entreprise-generale-batiment-egouttage-assainissement-namur-brabant-wallon/projets/reparation-suite-a-un-degat-incendie">Réparation suite à un dégât incendie</a>
              </div>
              <blockquote>
                <p>"Mon habitation en fin de construction a malheureusement subi un incendie. J'ai été dans l'obligation de trouver une entreprise qui sache rapidement s'occuper du démontage des murs endommagés et de la reconstruction de ceux-ci. Bien que n'étant pas basée à proximité, l'entreprise Construc-Tim a répondu directement présent pour s'occuper des travaux !</p>
                <p>L'équipe sympathique a réalisé l'entièreté de l'ouvrage rapidement, proprement et à un prix tout à fait raisonnable. Encore une fois je peux remercier le patron Timothée Wery pour le sérieux de son entreprise Guillaume Rochefort"</p>
              </blockquote>
            </div>
            <div class="item">
              <div class="author"><a href="/entreprise-generale-batiment-egouttage-assainissement-namur-brabant-wallon/projets/residence-tilleul-namur">Résidence tilleul Namur</a>
              </div>
              <blockquote>
                <p>"Construct Tim, une entreprise que nous recommandons pour la compétence de son personnel, ses prix concurrentiels, les conseils avisés du responsable Timothée Wéry Delpire M.""</p>
              </blockquote>
            </div>
            <div class="item">
              <div class="author"><a href="/entreprise-construction-maison-batiment-namur-brabant-wallon/projets/nouvelles-constructions-a-meux">Nouvelles constructions à Meux</a>
              </div>
              <blockquote>
                <p>"Avec construct-Tim, le gros œuvre s'est passé sans aucun soucis. Si c'était à refaire, nous signons tout de suite. Professionnalisme, timing respecté et sympathie.. Caroline et François de Meux"</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
