{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block javascripts %}
  {{ parent() }}

  {{ tinymce_init() }}

  {% include 'AppBundle:admin:plupload.html.twig' %}

{% endblock %}

{% block form %}
  {{ parent() }}
  <button id="imageupload" value="upload">test</button>
{% endblock %}
