<section class="infos-and-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="need-info">
          <p>Question ? Demande de devis ? Contactez-nous !</p>
          <div class="tel"><span class="glyphicon glyphicon-phone"></span><a href="tel:+32(0)475921448"> +32
              (0)475/92.14.48</a>
          </div>
          <a class="btn" href="{{ path('contact') }}">Nous contacter</a>
        </div>
      </div>
    </div>
  </div>
</section>
