<footer>
  <!--Footer logo-->
  <div class="row text-center">
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-4 col-md-4 text-center">
      <div class="logo">
        <a href="#about"><img data-fallback="logo-construct-tim-namur-big.jpg" src="/images/brand/logo-construct-tim-namur-big.svg" alt="Logo construct tim namur big"/>
        </a>
      </div>
      <a href="http://www.confederationconstruction.be/" target="_blank"><img alt="" src="/images/frontend/static/logo-footer-confederation-construction.png"/>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 text-center">
      <author><strong>Wery Timothée</strong>
      </author>
      <address>Rue de Gawday, 43 <br/>5300 Maizeret <br/>Belgique</address>
      <h3 class="phone"><span class="glyphicon glyphicon-phone"></span><a href="tel:+32(0)475921448"> +32
          (0)475/92.14.48</a></h3>
      <p>FAX : 081/582.717 - TVA : BE0897.517.739 </p>
      <div class="row socials">
        <a class="socicon" href="https://www.facebook.com/pages/Construct-Tim/232063480142096" target="_blank" title="Facebook">b</a><a class="socicon" href="https://plus.google.com/112308820897297149348/about?hl=fr" target="_blank" title="Google">c</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <!--Copyright-->
      <p>© {{ "now"|date("Y") }} - Timothée Wery Construct-Tim - Tous droits réservés. <a href="/nos-sites-partenaires">Nos
          sites partenaires</a>
      </p>
    </div>
  </div>
</footer>
