<div class="col-lg-4">
  <div class="panel">
    <div class="panel-heading">
      <h3><i class="icon-pushpin main-color"></i>Adresse</h3>
    </div>
    <div class="panel-body"><address><div class="row"><div class="col-xs-12 col-lg-12"><strong>Construct-Tim</strong><br /><strong>Wery Timothée</strong><br />Rue de Gawday, 43<br />5300 Maizeret <br />Belgique<br /><i class="glyphicon glyphicon-earphone"></i> +32 (0)475/92.14.48<br /><hr /></div></div></address>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">
      <h3><i class="icon-time main-color"></i>Heures d'ouverture</h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Jours</th>
            <th>Heures</th>
          </tr>
        </thead>
        <tbody>
          <tr class="success">
            <td>Lundi au vendredi</td>
            <td>7:00 > 18:00</td>
          </tr>
          <tr class="danger">
            <td>Samedi et Dimanche</td>
            <td>fermé (ou sur rendez-vous)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
